// COLORS
$headingColor: #f0f0f0;
$textColor: #9f9f9f;
$textWhiteColor: #e6e6e6;
$navColor: #e6e6e6;
$mainColor: #009e66;
$background: rgb(17, 17, 17);

//FONT-SIZES
$mainHeadingSize: 70px;
$headingSize: 46px;
$subHeadingSize: 30px;
$textSize: 15px;


