@import '../sass/variables';


.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;


  .pre_title {
    text-align: center;
    color: $textColor;
    font-size: $textSize;
    margin-bottom: 10px;
  }

  .post_title {
    text-align: center;
    color: $headingColor;
    font-size: $headingSize;
    font-weight: bold;
  }


}

.info_container {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  @media (max-width: 900px) {
    flex-direction: column;
  }

  .info_photo {
    width: 35%;
    text-align: center;
    @media (max-width: 900px) {
      width: 70%;
      text-align: center;
    }

    img {
      border-radius: 50%;
    }
  }

  .info {
    width: 65%;
    height: 100%;
    align-self: flex-start;
    padding-left: 100px;
    line-height: 1.95;
    @media (max-width: 900px) {
      padding: 0;
      width: 90%;
      margin: 0 auto;
    }

    .info_title {
      @media (max-width: 900px) {

      }

      .info_pre_title {
        font-size: 24px;
        color: $mainColor;
        margin-bottom: 20px;

      }

      .info_post_title {
        font-size: $subHeadingSize;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        @media (max-width: 375px) {
          font-size: 25px;
        }
      }
    }

    .info_info {
      color: $textColor;
      font-size: $textSize;
      border-bottom: 2px solid #232323;
      padding-bottom: 20px;
    }
  }
}

.services_container {

  .services_pre_title {
    color: $textColor;
    font-size: $textSize;
    padding-left: 15px;
  }

  .services_title {
    color: $headingColor;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 50px;
    padding-left: 15px;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .services_element_container {
      padding: 0 15px 30px 15px;
      width: 33.33333%;
      @media (max-width: 1200px) {
        width: 50%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }

      &:hover {

      }

      .services_element {
        padding: 38px 42px;
        background: #161616;

        &:after {
          width: 100%;
          height: 2px;
          content: '';
          display: none;

        }

        img {
          height: 50px;
        }

        .services_element_title {
          margin: 30px 0 30px 0;
          color: $headingColor;
          font-size: 20px;
        }

        .services_element_text {
          color: $textColor;
          font-size: $textSize;
        }
      }
    }
  }
}
