.header {
    padding-top: 15px;
    height: 100px;
    background-color: lightblue;

}
.content {

    padding: 10px 0 10px 0;
    display: flex;

    justify-content: space-between;
}
.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
}
.logo {
    font-size: 20px;
}
a {
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
}
a:hover {

    background-color: blue;
    color: white;
    transition: all 0.2s ease-in-out;
}