.remote {
    padding-top: 70px;
    height: 300px;
    background-color: #fffeec;
}

.content {
    text-align: center;
    border: 1px solid black;
    width: 100%;
}
.button {
    margin-top: 100px;
  }

