@import '../sass/variables';

.header {
  height: 100px;


  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 23px auto;

    .logo {
      font-size: $textSize;
      color: $textWhiteColor;
      @media screen and(max-width: 575.98px) {
        visibility: hidden;
      }

      img {
        height: 60px;
      }


    }

    .navigation {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: auto;
      @media (max-width: 575.98px) {
        display: none;
      }

      .link {
        font-size: $textSize;
        text-decoration: none;
        color: $textWhiteColor;
        border-radius: 15px;
        cursor: pointer;
      }

      .link:not(:last-child) {
        margin-right: 32px;
      }

      @media (max-width: 375px) {
        width: 350px;
        flex-wrap: nowrap;
      }
    }

    .burger {
      z-index: 100;
      display: none;
      margin-left: auto;
      position: relative;

      &::before {
        position: absolute;
        top: -10px;
        right: 0;
        content: '';
        width: 25.5px;
        height: 3px;
        background: white;
        z-index: 1000;
        @media (max-width: 575.98px) {
          display: block;

        }
      }

      &::after {
        position: absolute;
        top: 10px;
        right: 0;
        content: '';
        width: 30px;
        height: 3px;
        background: white;
        @media (max-width: 575.98px) {
          display: block;

        }

      }

      @media (max-width: 575.98px) {
        margin-left: auto;
        display: block;
        width: 16.5px;
        height: 3px;
        background: white;

      }
    }

    .small_menu_container {
      position: fixed;
      top: 0;
      left: 0;

      height: 100vh;
      width: 100vw;

      .open {
        height: 170px !important;
      }

      .small_menu {
        z-index: 100;
        background: #191919;
        position: absolute;
        right: 14px;
        top: 83px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        transition: all .3s ease-in-out;
        height: 0;
        overflow: hidden;


        .small_link {
          display: block;
          width: 100%;
          font-size: $textSize;
          text-decoration: none;
          color: $textWhiteColor;
          border-radius: 15px;

        }

        .small_link:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      .small_menu_hidden {
        display: none;
      }
    }

  }


}

